{% include 'header.html' %}
<div class="col-md-12" style="background: #F2F4F4;">
    <br><br><br><br><br><br>
    <div class="row text-center">
        <div class="col-md-12">
            <a href="{{url_for('busquedas')}}" class="btn btn-primary"><i class="fa fa-search"></i>
                <b>BUSQUEDAS</b></a>
        </div>
    </div>
    <br>
    <div class="row text-center">
        <div class="col-md-12">
            <a href="{{url_for('create_publicacion')}}" class="btn btn-success"><i class="fa fa-copy"></i>
                <b>PUBLICACIONES</b></a>
        </div>
    </div>
    <br><br><br><br><br><br>
</div>
{% include 'footer.html' %}