{% include 'header.html' %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-danger" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<br>
<form method="post" action="/store_publicacion" enctype="multipart/form-data" style="width: 100%;">
    <div class="col-md-12">
        <div class="card bg-light mb-3">
            <div class="card-header" style="background-color: #2A5491 !important; color: #ffffff;">
                Cada vez que encuentres un medicamento difícil de conseguir, publicalo aquí.
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <p><b>MEDICAMENTO:</b>
                            <select name="cbInsumo" id="cbInsumo" title="Seleccione Un Insumo"
                                class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                                tabindex="-1" aria-hidden="true">
                                <option value="-1" selected="selected">Seleccione Un Medicamento</option>
                                {% for fila in insumos %}
                                <option value="{{ fila[0] }}">{{ fila[1] }}</option>
                                {% endfor %}
                            </select>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p><b>PRECIO:</b> (Ayudará a comparar los precios con otros medicamentos)
                            <input id="txtPrecio" class="form-control" type="text" name="txtPrecio"
                                placeholder="Introduzca El Precio En Bs." style="width: 100%;">
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p><b>¿DÓNDE LO COMPRASTE?</b></p>
                        <div class="row">
                            <div class="col-md-6">
                                <p><b>Registra un lugar nuevo:</b>
                                    <input type="checkbox" id="lugarPropio" name="lugarPropio" value="escrito" checked>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p><b>Selecciona el lugar:</b>
                                    <input type="checkbox" id="lugarListado" name="lugarListado" value="listado">
                                </p>
                            </div>
                        </div>
                        <p id="divMostrarLugarPropio">
                            <input id="txtLugar" class="form-control" type="text" name="txtLugar"
                                onkeyup="javascript:this.value=this.value.toUpperCase();" style="width:100%;"
                                placeholder="Introduzca El Nombre Del Lugar">
                        </p>
                        <p id="divMostrarLugarListado" style="display: none;">
                            <select name="cbLugar" id="cbLugar" title="Seleccione Un Lugar"
                                class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                                tabindex="-1" aria-hidden="true">
                                <option value="-1" selected="selected">Seleccione Un Lugar</option>
                                {% for fila in lugares %}
                                <option value="{{ fila[0] }}">{{ fila[1] }}</option>
                                {% endfor %}
                            </select>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p><b>¿EN QUÉ DIRECCIÓN LO COMPRASTE?</b></p>
                        <div class="row">
                            <div class="col-md-6">
                                <p><b>Registra Una Nueva Dirección:</b>
                                    <input type="checkbox" id="direccionPropio" name="direccionPropio" value="escrito"
                                        checked>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p><b>Selecciona La Dirección:</b>
                                    <input type="checkbox" id="direccionListado" name="direccionListado"
                                        value="listado">
                                </p>
                            </div>
                        </div>
                        <p id="divMostrarDirPropio">
                            <input id="txtDirEscrito" class="form-control" type="text" name="txtDirEscrito"
                                onkeyup="javascript:this.value=this.value.toUpperCase();" style="width:100%;"
                                placeholder="Introduzca La Dirección Del Lugar">
                        </p>
                        <p id="divMostrarDirListado" style="display: none;">
                            <select name="cbDirListado" id="cbDirListado" title="Seleccione Una Dirección"
                                class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                                tabindex="-1" aria-hidden="true">
                                <option value="-1" selected="selected">Seleccione Una Dirección</option>
                                {% for fila in direcciones %}
                                <option value="{{ fila[0] }}">{{ fila[1] }}</option>
                                {% endfor %}
                            </select>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p><b>FOTO:</b> (Ayudará a darle más confiabilidad y peso a la publicación)
                            <input id="txtFoto" class="form-control" type="file" name="txtFoto" style="width: 100%;">
                        </p>
                    </div>
                    <div class="col-md-6">
                        <br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-cloud"></i>
                                <b>REGISTRAR</b></button>
                            <!--<input type="submit" class="btn btn-success" value="Publicar">-->
                            <a href="{{url_for('index')}}" class="btn btn-secondary"><i class="fa fa-backward"></i>
                                <b>REGRESAR</b></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% include 'footer.html' %}