{% include 'header.html' %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-danger" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<br>
<form method="post" action="/store_publicacion" enctype="multipart/form-data" style="width: 100%;">
    <div class="col-md-12">
        <div class="card bg-light mb-3">
            <div class="card-header" style="background-color: #2A5491 !important; color: #ffffff;">
                Cada vez que encuentres un medicamento difícil de conseguir, publicalo aquí.
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <p><b>
                                (<strong class="etiqueta_roja">*</strong>)
                                Datos Obligatorios.
                            </b>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p><b>MEDICAMENTO: <strong class="etiqueta_roja"> *</strong></b>
                            <select name="cbInsumo" id="cbInsumo" title="Seleccione Un Insumo"
                                class="form-control select2 select2-hidden-accessible"
                                style="text-transform:uppercase; width: 100%;"
                                onkeyup="javascript:this.value=this.value.toUpperCase();" tabindex="-1"
                                aria-hidden="true">
                                <option value="-1" selected="selected">Seleccione Un Medicamento</option>
                                {% for fila in insumos %}
                                <option value="{{ fila[0] }}">{{ fila[1] }}</option>
                                {% endfor %}
                            </select>
                        </p>
                    </div>
                    <div class="col-md-5">
                        <!-- validar los signos + y - -->
                        <p><b>PRECIO:</b> <strong class="etiqueta_roja"> *</strong> (Ayudará a comparar los precios con
                            otros medicamentos)
                            <input type="number" id="txtPrecio" class="form-control" name="txtPrecio" value=""
                                autocomplete="off" required min="1" placeholder="1 Bs.-" maxlength="7" step="0.01"
                                onkeypress="return validar_input_numeros(this.value);"
                                style="width: 100%; font-size: 14px;">
                        </p>
                    </div>
                    <div class="col-md-1 text-left">
                        <br>
                        <p style="margin-top: 10px;">(en Bs.-)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            <b>¿DÓNDE LO COMPRASTE?</b><strong class="etiqueta_roja"> *</strong>
                            <select name="cbLugar" id="cbLugar" title="Seleccione Un Lugar"
                                class="form-control select2 select2-hidden-accessible"
                                style="text-transform:uppercase; width: 100%;"
                                onkeyup="javascript:this.value=this.value.toUpperCase();" tabindex="-1"
                                aria-hidden="true">
                                <option value="-1" selected="selected">Seleccione Un Lugar</option>
                                {% for fila in lugares %}
                                <option value="{{ fila[0] }}">{{ fila[1] }}</option>
                                {% endfor %}
                            </select>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <b>¿EN QUÉ DIRECCIÓN LO COMPRASTE?</b><strong class="etiqueta_roja"> *</strong>
                            <select name="cbDireccion" id="cbDireccion" title="Seleccione Una Dirección"
                                class="form-control select2 select2-hidden-accessible"
                                style="text-transform:uppercase; width: 100%;"
                                onkeyup="javascript:this.value=this.value.toUpperCase();" tabindex="-1"
                                aria-hidden="true">
                                <option value="-1" selected="selected">Seleccione Una Dirección</option>
                                {% for fila in direcciones %}
                                <option value="{{ fila[0] }}">{{ fila[1] }}</option>
                                {% endfor %}
                            </select>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p><b>FOTO:</b> (Ayudará a darle más confiabilidad y peso a la publicación)
                            <input id="txtFoto" class="form-control" type="file" name="txtFoto" style="width: 100%;">
                        </p>
                    </div>
                    <div class="col-md-6">
                        <br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-cloud"></i>
                                <b>REGISTRAR</b></button>
                            <!--<input type="submit" class="btn btn-success" value="Publicar">-->
                            <a href="{{url_for('index')}}" class="btn btn-secondary"><i class="fa fa-backward"></i>
                                <b>REGRESAR</b></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% include 'footer.html' %}