</div>
</body>
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-1 col-md-1">
            </div>    
            <div class="col-xs-12 col-sm-10 col-md-10">                
                <h6>Esta página es sin fines de lucro. Nos deslindamos de cualquier daño o perjuicio causados debido a información inexacta de las publicaciones realizadas por los usuarios.
                    Así como de la información vinculados a nuestra página, y el contenido de los mismos.
                </h6>
            </div>    
            <div class="col-xs-12 col-sm-1 col-md-1">                
            </div>            
            <!--<div class="col-xs-12 col-sm-6 col-md-6">
                <h5>Integrantes:</h5>
                <ul class="list-unstyled quick-links">
                    <li><i class="fa fa-angle-double-right"></i> Diego Fernando Zenteno Molina</li>
                    <li><i class="fa fa-angle-double-right"></i> German Vargas Llanos</li>        
                    <li><i class="fa fa-angle-double-right"></i> José Luis Montaño Ribera</li>                    
                    <li><i class="fa fa-angle-double-right"></i> Jordy Roy Semler Chávez</li>                                
                </ul>
            </div>-->
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">                
                <p class="h6">© 2022 Todos los Derechos Reservados.<a class="text-green ml-2" href="#"
                        target="_blank">EncuentraMed</a></p>
            </div>
            <hr>
        </div>
    </div>
</section>

</html>